@model List<LOC.Core.Model.Sales.SalesPackage>

@{
    ViewBag.Title = "Sales Packages";
}

<h2>@ViewBag.Title</h2>

<style type="text/css">
.form {
    margin: 0 0 6px;
}
</style>

<script type="text/javascript">
    function submitPackage(str) {
        if ($.trim($("#PlayerName").val()).length == 0) {
            $('#currentPackage').val(str);
        }
    }

    $(function () {
        $('.salesPackage').submit(function () {
            if ($.trim($("#PlayerName").val()).length == 0) {
                $('#myModal').modal('show');
                return false;
            } else {
                $('#myModal').modal('hide');
                $('#thanks').modal('show');
                return true;
            }

        });

        $('#purchase').click(function () {
            $('#' + $('#currentPackage').val() + ' input.playerName').val($("#PlayerName").val());
            $('#' + $('#currentPackage').val()).submit();
            $("#PlayerName").val('');
            $('#currentPackage').val('');
        });

        $('#cancel').click(function () {
            $("#PlayerName").val('');
            $('#currentPackage').val('');
        });

        $('#close').click(function () {
            $("#PlayerName").val('');
            $('#currentPackage').val('');
        });
    });
</script>

<div>
    <div class="row">
        <p>
            All purchasable benefits, such as class skills, are in a constant state of balance, ensuring our plugins are of the highest quality possible.
            <br/>
            If a benefit you have purchased is modified, you may be entitled a refund.  If you are unhappy with a change, message us for a refund. 
            <br/>
            Deleted benefits will be automatically refunded.
            <br/><br/>
            Click a package below and then enter your player name.
            <br/><br/>
            Thank you for supporting us!!
        </p>
    </div>
</div>
<hr />
<div class="row">
    <div class="span12">
        <h4>Credit Packages</h4>
        <ul class="thumbnails">
            @foreach (var salesPackage in Model.Where(x => x.Rank.RankId == 1).OrderBy(x => x.Price))
            {
                @Html.Partial("_WritePackage", salesPackage)
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="span12">
        <h4>Ranks - Monthly Subrcription</h4>
        <ul class="thumbnails">
            @foreach (var salesPackage in Model.Where(x => x.Rank.RankId != 1 && !x.RankPerm).OrderBy(x => x.Rank.RankId))
            {
                @Html.Partial("_WritePackage", salesPackage)
            }
        </ul>
    </div>
</div>
<div class="row">
    <div class="span12">
        <h4>Ranks - Permanent</h4>
        <ul class="thumbnails">
            @foreach (var salesPackage in Model.Where(x => x.Rank.RankId != 1 && x.RankPerm).OrderBy(x => x.Rank.RankId))
            {
                @Html.Partial("_WritePackage", salesPackage)
            }
        </ul>
    </div>
</div>
<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button id="close" type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">Player Name Input</h3>
    </div>
    <div class="modal-body">
        <div class="input-append"><input id="PlayerName" type="text" class="span2" placeholder="Player Name" style="width: 50%; margin: auto;" /></div>
        <p>Payments will be automatically processed for this username.</p>
    </div>
    <div class="modal-footer">
        <input id="currentPackage" style='display: none;'></input>
        <button id="purchase" class="btn btn-success">Purchase</button>
        <button id="cancel" class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button>
    </div>
</div>

<div id="thanks" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
    </div>
    <div class="modal-body">
        <h3>Sending you to paypal...</h3>
    </div>
    <div class="modal-footer">
    </div>
</div>