@{
    ViewBag.Title = "About";
}

<h2>About</h2>

Nautilus Studios, LLC created in 2012
<br/>
<br/>
If you have media related questions click this : <a href="mailto:media@nautilusgaming.com">Contact Media</a>
<br/>
Problems with purchases? products? : <a href="mailto:customerservice@nautilusgaming.com">Contact Customer Service</a>
<br/>
Any business inquiries go here : <a href="mailto:jwilliams@nautilusgaming.com">Contact Tha Biz</a>
